# Node modules
node_modules/
/SERVER/uploads/*
!/SERVER/uploads/issueIMG/
!/SERVER/uploads/issueIMG/**
!/SERVER/uploads/paymentIMG/
!/SERVER/uploads/paymentIMG/**

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment variables
.env

# Build output (אם את בונה את השרת, לדוגמה ב-TypeScript)
dist/
build/

# OS files
.DS_Store

# Editor
.vscode/
.idea/
