  .issue-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
  }
  
  .issue-image img {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
  
  .issue-description {
    color: #444;
    font-size: 0.9rem;
    margin-bottom: 10px;
    line-height: 1.3;
  }
  
  .issue-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85rem;
  }
  
  .issue-date {
    color: #777;
  }
  

  .issue-image-wrapper {
    width: 100%;
    height: 160px; /* גובה קבוע כמו של תמונה רגילה */
    border-radius: 10px;
    overflow: hidden;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .issue-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .issue-image-placeholder {
    width: 100%;
    height: 100%;
    background: #e5e5e5;
    color: #777;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
  }
  